# 라이브러리 폴더 (용량이 너무 커서 올리면 안 됨)
node_modules/

# 로그인 정보가 저장되는 텍스트 파일 (실제 배포 시 유출 방지)
account.txt
accounts.txt

# 운영체제 생성 파일
.DS_Store
Thumbs.db

# 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 환경변수 파일 (나중에 DB 비밀번호 등을 적을 때 사용)
.env